@import 'text.css';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    background: url(../img/header_bg.png) no-repeat center center /cover;
    height: 700px;

}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.header_row {
    height: 100%;
    display: flex;
    align-items: center;
}



.header_info p {
    font-size: 50px;
    font-family: "rl";
    font-weight: regular;
    color: #70869d;
    margin-bottom: 37px;
}

.header_info h1 {
    font-family: "rb";

    font-size: 70px;
    line-height: 50px;
}

main {
    margin-top: 100px;
    margin-bottom: 71px;
}

.section1 {
     height: 610px; 

    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

}

.item1 {
    width: 540px;
    height: 255px;

    display: flex;

}

.item1_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item1_info h3 {
    width: 142px;
    margin-left: 29px;
    font-size: 16px;
    font-family: "rb";
    color: #1f3750;
    line-height: 23px;
}

.item1_info a {
    padding: 14px 0px;
    text-align: center;
    margin-top: 8px;
    background: #f2f2f2;
    color: #70869d;
    font-family: "rl";
    font-size: 16px;
    font-weight: regular;
    margin-left: 30px;
    width: 160px;

}

.item1_info p {
    margin-left: 30px;
    color: #70869d;
    font-family: "rl";
    font-weight: regular;
    line-height: 22px;
    font-size: 16px;
}

.item1_info a:hover {
    color: #ffffff;
    background: #0092b6;
    transition: 500ms;
}

.section2 {
    margin-top: 100px;
    margin-bottom: 50px;

    display: flex;
    justify-content: space-around;
    background: #f3f9ff;
}

.item2 h3 {
    width: 201px;
    margin-top: 50px;
    margin-bottom: 35px;
    font-family: "rb";
    font-size: 16px;
    font-weight: regular;
    color: #1f3750;
    text-align: center;
}

.item2 p {
    width: 201px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "rl";
    font-size: 16px;
    font-weight: regular;
    color: #70869d;
    line-height: 20px;

}

.item2 a {
    margin-bottom: 50px;
    display: inline-block;
    font-family: "rb";
    font-size: 16px;
    font-weight: regular;
    color: #1f3750;
}
.section3-info {
    display: flex;
    justify-content: space-between;
}
.section3 p{
    text-align: center;
    margin-bottom: 50px;
    font-size: 16px;
    font-family: "rr";
    color: #1f3750;
    font-weight: regular;
    
}
.left ul{
    width: 462px;
    display: flex;
    flex-direction: column;

}
.left a{
    font-family: "rr";
    font-size: 16px;
    color: #70869d;
    font-weight: regular;
    line-height: 26px;

}
.left a:hover{
    color: #88ccdd;
}
.right ul{
    width: 462px;
    display: flex;
    flex-direction: column;

}
.right a{
    font-family: "rr";
    font-size: 16px;
    color: #70869d;
    font-weight: regular;
    line-height: 26px;

}
.right a:hover{
    color: #88ccdd;
}
footer{
    padding-top: 43px;
    padding-bottom: 40px;
    background: #f3f9ff;

}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul a{
    padding-left: 31px;
    font-family: "rr";
    font-style: 16px;
    color: #6d6d6d;
}
nav ul{
    display: flex;

}
nav p{
    color:#444444;
    font-family: "rb";
    font-size: 20px;
}


